
input#edit_album_name
{
/* 	display:none; */
    border: 1px solid #dedede;
    height: 22px;
    left: 29px;
    padding: 3px;
    position: absolute;
    top: 24px;
    width: 37%;
}

textarea.edit_album_add_desc
{
/* 	display:none; */
}
select.edit_album_privacy
{
/* 	display:none; */
	border: 1px solid #dedede;
    padding:0;
	margin: 0 10px 0 0;
}

a.edit_album {
 	float: left;
    left: -72px;
    position: absolute !important;
    top: 8px;
    width: auto;
}
.delete-album {
    top: 26px !important;
}
.save_cancel_album_changes {
    float: right;
    position: absolute;
    right: 57px;
    top: 15px;
}
input#save_album_changes
{
	 height: 24px !important;
    margin: 15px 0 0 7px !important;
    width: 30px !important;
}

#cancel_album_changes{
    position: absolute;
    right: -45px;
    top: 26px;
}
.photoalbum-hdr h2.add_border
{
	margin: 59px 0 0 ;
}

.photo-slider-bot .col2 {
    margin: 10px 0 64px 34px !important;
}
textarea.add_photo_desc.edit_album_add_desc {
    margin: 10px 0 0;
    width: 167px;
}
/********EDIT ALBUM END *********/
