div#forgot_email_submit_div
{
    display: inline-block;
    float: right;
    height: 26px;
    width: 79px;
}
table tr td
{
	width: 420px;
}
table tr td+td
{
	width: 20px;
	vertical-align: top;
}

span#email_validate_image
{
	display: inline-block;
    margin: 28px 0 0 18px;
}

.create-pwd h4 
{
    color: #000000 !important;
}
.fieldbox-emaiaddress label {
	color: #000000 !important;
}
.input-emailaddress {
    border: 1px solid #000000 !important;
	padding: 3px 5px !important;
	font-family:  Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 17px !important;
	font-weight: normal!important;
}
.btn-save
{
    background: none repeat scroll 0 0 #6C518F !important;
	 margin: 24px -15px 0 0;
}
.font-change{
	font-family: arial !important;
}

body {
    background: url("../../images/body-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
label.error {
    margin: 4px 0 0 !important;
}