.mail-hdr 
{
	height: 46px;
}

.mail-hdr h2 
{
    border-bottom: 1px solid #C4C4C4;
	width: 100% !important;
}

form#send_message_form
{
	margin-top :10px;
}

form#fileattach .template-download.fade
{
	margin-top: 9px;
    width: 67%;
}

form#fileattach .progress.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all
{
	height : 5px !important;
	margin-top : 2px !important;
}


.template-download.fade > input {
    float: left;
    margin-right: 5px;
    width: 70%;
}