@CHARSET "ISO-8859-1";
/********** OK SHARE COMMENT **********/
div.ok{
                margin:0 15px 0 0;
                padding:0;
                float:left;
                width:auto;
                color:#c4c4c4;
}
.ok a{
                margin:0;
                padding:0 0 0 5px;
                color:#696969;
                text-decoration:none;
}
.ok a span{
    background: url("../../images/ok-icon-grey.png") no-repeat scroll center center transparent;
    color: #C4C4C4;
    display: inline-block;
    margin: 0 3px 0 0;
    min-height: 0;
    padding: 0;
    text-decoration: none;
    width: 16px;
}
.ok a:hover{
                color:#b084e9;
}
.ok a:hover span{
                color:#b084e9;
                background: url(../../images/ok-icon.png) no-repeat center center;
                width:16px;
}


.comments{
                margin:0 20px 0 0;
                padding:0;
                float:left;
                width:auto;
                color:#696969;
                position:relative;
}

.comments a{
                margin:0 5px 0 0;
                padding:0 0 0 20px;
                color:#696969;
                text-decoration:none;
                background: url(../../images/comments-icon-grey.png) no-repeat left 3px;
                float:left;
                
}
.comments a:hover{
                color:#b084e9;
                                background: url(../../images/comments-icon.png) no-repeat left 3px;
}
.comments:hover span{ color:#b084e9 !important;}

.comments span{
                margin:0 0 0 0;
                padding:0;
                color:#696969;
                text-decoration:none;
                width:auto;
                float:left;
                min-height:0;
}
.comments span:hover{
                color:#c4c4c4;
}
.share{
                margin:0 15px 0 0;
                padding:0;
                float:left;
                width:auto;
}
.share a{
                margin:0 5px 0 0;
                padding:0 0 0 5px;
                color:#696969;
                text-decoration:none;

                float:left;
}
.share a:hover{
                color:#b084e9;

}
.share a span{
                margin:0 5px 0 0;
                padding:0;
                color: #7E7E7E;
                text-decoration:none;
                background: url(../../images/share-icon-grey.png) no-repeat left 3px;
                width:16px;
                float:left;
                min-height:0;
}
.share a:hover span{
                color:#b084e9;
                background: url(../../images/share-icon.png) no-repeat left 3px;
                width:16px;
}
.share span:hover {
    color: #b084e9;
}

.report-abuse{
	margin:0 0 0 0;
	padding:0;
	float:left;
	width:auto;
	color:#c4c4c4;
}
.report-abuse a{
	margin:0;
	padding:0 0 0 5px;
	color:#696969;
	text-decoration:none;
}
.report-abuse a span{
	margin:0 0 0 0;
	padding:0;
	color:#696969;
	text-decoration:none;
	background: url(../../images/icon-report.png) no-repeat center center ;
	width:16px;
	float:left;
}
.report-abuse a:hover{
	color:#b084e9;
}
.report-abuse a:hover span{
	color:#b084e9;
	background:url(../../images/icon-report-hover.png) no-repeat center center;
	width:16px;
}

.more{
	margin:0 15px 0 0;
	padding:0;
	float:left;
	width:auto;
	color:#c4c4c4;
	position:relative;
}
.more a{
	margin:5px 0 0 5px;
	padding:0 0 0 0;
	color:#696969;
	text-decoration:none;
}
.more a span{
	margin:0 0 0 0;
	padding:0;
	color:#c4c4c4;
	text-decoration:none;
	background: url(../../images/arrow-down-grey.png) no-repeat 0 5px !important;
	width:16px;
	float:left;
}
.more a:hover
{
	color:#b084e9;
}
.more a:hover span
{
	color:#b084e9;
	background: url(../../images/arrow-down-purple.png) no-repeat 0 5px;
	width:16px;
}

/********** OK SHARE COMMENT **********/

.news-update-likes a {
    margin: 0 0 0 0 !important;
}
div.news-update-img div.photo_aligner {
    float: left;
    text-align: center;

}
div.photo_holder{
    width: 50px;
    height: 50px;
	display: inline-block;
}
div.photo_holder div.photo_aligner{
    width: 50px;
    height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: 1px solid silver;
}
div.photo_holder div.photo_aligner:HOVER{	
	border: 1px solid #6C518F;
}


div.loading_updates div {
    display: table-cell;
    height: inherit;
    text-align: center;
    width: inherit;
}

div.loading_updates {
    background-color: white;
    display: inline-block;
    height:11px;
    width: 100%;
	padding: 50px 0;
}
	
div.loading_updates div {
    /*display: table-cell;
    height: inherit;*/
    text-align: center;
	vertical-align : middle;
    width: 100%;
	float:left;
	
}
div.show_more {
    background-color: #FFFFFF;
/*     border: 1px solid #6C518F; */
    cursor: pointer;
    display: inline-block;
    height: 36px;
	line-height:36px;
    width: 100%;
}

div.show_more div {
    color: #6C518F;
    /*display: table-cell;*/
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
div.no_more {
	background-color: #E5E5E5;
    border: 1px solid silver;
    display: inline-block;
    height: 36px;
	line-height:36px;
    width: 100%;
}

div.no_more div {
    color: grey;
    /*display: table-cell;*/
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
div.loading_more_updates {
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
	padding:10px 0;
}

div.loading_more_updates div {
   
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

div.loading_updates div lable,
div.loading_more_updates div lable
{ 
	margin-left:5px; 
	color: #b4b4b4;
}
div.loading_updates div img,
div.loading_more_updates div img
{
	vertical-align: sub;
}

/* Post comment and comment box css */

.blog-hdr{
                background:#fff;
                margin:0 0 0 2px;
                padding:30px 4% 0% 4%;
                float:left;
                width:92%;
}
.blog-hdr h2{
                border-bottom:1px solid #c4c4c4;
}
.blogs-content{
                width:92%;
                margin:0 0 0 2px;
                padding:2% 4%;
                float:left;
                background:#fff;
}
.blogs-col1-all{
                width:158px;
                margin:0 20px 20px 0;
                padding:0;
                float:left;
                border:1px solid #d7d7d7;
}
.blogs-col1-all-img{
                width:100%;
                margin:0;
                padding:0;
                float:left;
}
.blogs-col1-all-text{
                width:100%;
                margin:0;
                padding:5px 0;
                float:left;
                background:#fff;
                text-align:center;
}
.blogs-col1-all-btn{
                width:100%;
                margin:0;
                padding:5px 0;
                float:left;
                text-align:center;
                background:#fff;
}

.blogs-col2-all{
                width:158px;
                margin:0 0 20px 0;
                padding:0;
                float:left;
                border:1px solid #d7d7d7;
}
.blogs-col2-all-img{
                width:100%;
                margin:0;
                padding:0;
                float:left;
}
.blogs-col2-all-text{
                width:100%;
                margin:0;
                padding:5px 0;
                float:left;
                text-align:center;
                background:#fff;
}
.blogs-col2-all-btn{
                width:100%;
                margin:0;
                padding:5px 0;
                float:left;
                text-align:center;
                background:#fff;
}
.following-col1{
                width:158px;
                margin:0 20px 20px 0;
                padding:0;
                float:left;
                border:1px solid #d7d7d7;
}
.following-col1-img{
                width:100%;
                margin:0;
                padding:0;
                float:left;
}
.following-col1-text{
                width:100%;
                margin:0;
                padding:5px 0;
                float:left;
                text-align:center;
                background:#fff;
                min-height:56px;
                border-bottom:1px solid #e5e5e5;
}
.following-col1-btn{
                width:100%;
                margin:0;
                padding:5px 0;
                float:left;
                text-align:center;
                background:#fff;
}


.following-col2{
                width:158px;
                margin:0 0 20px 0;
                padding:0;
                float:left;
                border:1px solid #d7d7d7;
}
.following-col2-img{
                width:100%;
                margin:0;
                padding:0;
                float:left;
}
.following-col2-text{
                width:100%;
                margin:0;
                padding:5px 0;
                float:left;
                text-align:center;
                background:#fff;
                min-height:56px;
                border-bottom:1px solid #e5e5e5;
}
.following-col2-btn{
                width:100%;
                margin:0;
                padding:5px 0;
                float:left;
                text-align:center;
                background:#fff;
}
.create-blog{
                width:100%;
                margin:0;
                padding:0;
                float:left;
}
.create-blog label{
                width:100%;
                margin:0;
                padding:0;
                float:left;
                text-transform:uppercase;
                font-family: oswaldlight;
                font-size:16px;
}
.create-blog span{
                width:100%;
                margin:3px 0 30px 0;
                padding:0;
                float:left;
}

.create-blog span input{
                width:98%;
                border:1px solid #dedede;
                color:#a0a0a0;
                padding:1% 1% 1% 1%;
}
.create-blog-btn{
                width:100%;
                margin:3px 0 0 0;
                padding:0;
                float:left;
                text-align:right;
}
.create-blog-btn input{
                margin-right:10px;
}
.create-blog-btn a{
                margin-right:10px;
}

.top-most-recent{
                width:100%;
                margin:0 0 10px 0;
                padding:0;
                float:left;
                text-align:right;
}
.blog-container{
                border:1px solid #d7d7d7;
                width:95%;
                margin:0 0 20px 0;
                padding:2.5%;
                float:left;
}
.blog-container-img{
                width:100%;
                margin:0;
                padding:0;
                float:left;
                border:1px solid #afafaf;
}
.blog-container-bot{
                width:100%;
                margin:21px 0 0 0;
                padding:0;
                float:left;
}
.blog-container-bot-left{
                width:16.5%;
                margin:0;
                padding:0;
                float:left;
                text-align:center;
}
.blog-container-bot-left-img{
                width:auto;
                margin:0;
                padding:0;
}
.blog-container-bot-left-bot{
                width:100%;
                margin:0;
                padding:0;
                float:left;
}
.blog-container-bot-right{
                width:80%;
                margin:0 0 0 3%;
                padding:0;
                float:left;
}
.blog-container-bot-right .col1{
                width:100%;
                margin:0 0 10px 0;
                padding:0;
                float:right;
}


.ok-comment-box {
 	float: left;
    margin: 0 0 0;
    padding:0 2%;
    width: 96%;
	color: #48545E;
}

.ok-comment-box-top-left {
width: 4%;
float: left;
margin: 4px 0 0 0;
padding: 0;
}


.ok-comment-box-top-right {
width: 94%;
float: left;
margin: 0 0 0 2%;
padding: 0;
}

.ok-comment-box-bot-left {
width: auto;
float: left;
margin: 4px 4px 0 0;
padding: 0;
}


.commentbox-outer2 {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 27px;
    width: 461px;
    z-index: 9999;
}
.commentbox-outer {
    float: right;
    margin: -10px -2px 0 0;
    padding:0;
    width: 461px;
}
.commentbox-arrow {
    float:left;
    margin: 0 42px;
    padding:0;
    width: auto;
}
.commentbox-content {
    float: right;
    margin:0;
    padding: 22px 10px;
    width: 441px;
                background:#dedede;
}
.commentbox-left{
                width:50px;
                margin:0;
                padding:0;
                float:left;
}
.commentbox-right{
                width:375px;
                margin:0 0 0 10px;
                padding:0;
                float:left;
}

/* END Post comment and comment box css */
/* listing comment box css */

.ok-comment-box-bot-right {
    float: left;
    margin: 2px 0 0 0;
    padding: 0;
    width: 94%;
	color:#6c518f;
	font-weight:bold;
}

.comments-outer {
    float: left !important;
    margin: 10px 0 0 !important;
    padding: 0 !important;
    width: 100% !important;
	position:relative;
}

.comments-outer .img {
    float: left;
    margin: 0;
    padding: 0;
}
/* END listing comment box css */

/********** OK SHARE COMMENT **********/
.ok{
	margin:0 15px 0 0;
	padding:0;
	float:left;
	width:auto;
	color:#c4c4c4;
}
.ok a{
	margin:0;
	padding:0 0 0 5px;
	color:#696969;
	text-decoration:none;
}
.ok a span{
	margin:0 0 0 0;
	padding:0;
	color:#c4c4c4;
	text-decoration:none;
	background: url(../../images/icon-sprite.png) no-repeat -342px 2px;
	width:16px;
	float:left;
	min-height:0;
}
.ok a:hover{
	color:#b084e9;
}
.ok a:hover span{
	color:#b084e9;
	background: url(../../images/icon-sprite.png) no-repeat -358px 2px;
	width:16px;
}


.comments{
	margin:0 15px 0 0;
	padding:0;
	float:left;
	width:auto;
	color:#696969;
	position:relative;
}

/***** See more comments ol ****/

#list_of_comments ol{
	margin:0px 0 0 0;
	padding: 0 0 0 2px;
}
#list_of_comments ol li{
	float: left;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
	list-style-type: none;
}
#list_of_comments ol li a{
	margin:0;
	padding:0;
}
#list_of_comments ol li a:hover{
	margin:0;
	padding:0;
}
#list_of_comments ol li a .img{
	float:left;
	width:auto;
	margin:0 10px 0 0;
}
div#list_of_comments span#load_more_comments
{
/* border: 1px solid #B084E9;*/
	background:#F5F6F7;
    color: #011777;
	font-weight:bold;
    cursor: pointer;
    display: inline-block;
    /*margin-bottom: 10px;*/
    margin-top: 5px;
    padding: 8px 0;
    text-align: center;
    width: 99%;
}
div#list_of_comments span#load_more_comments img{
 margin:0px 5px 0 0;
	 vertical-align: middle;
}
div#list_of_comments label{
	font-size: 12px;
    line-height: 18px;
    max-width: 290px;
    width: auto;
}
div#list_of_comments .load-img{
	padding:4.5px 0;
	
}
div.comments-outer div.img div
{
	border-radius:3px;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div.photo_holder a div.photo_aligner img
{
	max-width: 35px;
	max-height: 35px;
}
div.comments-outer a div.img div img
{
	/*max-width: 40px;
	max-height: 40px;*/
}
div.commentbox-content div.commentbox-left div img
{
	max-height: 50px;
	max-width: 50px;
}
div.commentbox-content div.commentbox-left div
{
	border: 1px solid grey;
	display: table-cell;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
div#list_of_comments ol li a div.img div
{
	border: 1px solid silver;
	display: table-cell;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}
div#list_of_comments ol li a div.img div:HOVER
{
	border: 1px solid #6C518F;	
}
div#list_of_comments ol li a div.img div img
{
	max-width: 40px;
	max-height: 40px;
}

div#share_box {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0;
    height: auto;
    padding: 0;
/*     width: 420px; */
	 width: 500px;
	height: auto;
}

#share_box > div#lower_container {
    display: inline-block;
    height: 78px;
    width: 381px;
}
#share_box > div#upper_container {
    display: inline-block;
    height: 115px;
    width: 99%;
}
#share_box #upper_container > div#photo_thumbnail {
    border: 1px solid #6C518F;
    display: inline-block;
    float: left;
    height: 110px;
    width: 110px;
}
#share_box #upper_container > div#photo_thumbnail div {
    display: table-cell;
    height: 110px;
    width: 110px;
	vertical-align: middle;
	text-align: center;
}
#share_box #upper_container > div#photo_thumbnail div img{
	max-width: 110px;
	max-height: 110px;
}

#share_box #upper_container > div#privacy {
    display: inline-block;
    float: right;
    height: 110px;
    width: 215px;
}
#share_box #lower_container > div#photo_text {
      display: inline-block;
    float: left;
    height: 75px;
/*     width: 424px; */
 width: 365px;
}
#share_box #lower_container > div#initial_text_of_photo {
    border: 1px solid #EAEAEA;
    display: inline-block;
    float: left;
max-height:240px;
    min-height: 124px;
    margin-top: 7px;
    overflow-x: auto;
    padding: 5px;
    width: 96.5%;
}

#initial_text_of_photo > div {
    border: 1px solid #D3D3D3;
    display: table-cell;
    height: 174px;
    text-align: center;
    vertical-align: middle;
    width: 174px;
}
#share_box #lower_container > div#photo_text textarea{
	border: 1px solid #E6E5E6;
    height: 64px;
    padding: 3px;
    width: 372px;
	margin-top: 11px;
}
div#upper_container div#privacy a#share 
{
    margin-right: 33px;
}

.btn-ok-popup {
    background: url("../../images/btn-purple.png") repeat-x scroll 0 0 transparent !important;
    border: medium none !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: bold;
    height: 25px !important;
    margin: 0 !important;
    padding: 2px 5px 5px !important;
    width: auto !important;
}
div.edit_comment
{
	background: url("../../images/icon-pencil4.png") repeat scroll 0 0 transparent;
    height: 12px;
    text-align: right;
    width: 12px;
	display:none;
	cursor:pointer;
	right:10px; 
	position:absolute !important;
}
div.hide_comment
{
	display: none;
}
div.edit-popup-outer
{
	display: none;
}

.comments-date {
    color: #939393;
    font-size: 11px;
    text-align: left;
	width:100%;
	float:left;
	padding-left:0;
}

.text p {
    float: left;
    font-size: 12px;
    text-align: justify;
    width: 100%;
}

div.hidden_comment {
    cursor: pointer;
    height: 25px;
   
}
span.unhide-comment{
	float: left;
    text-align: center;
    width: 94% !important;
	font-weight:bold;
	cursor:pointer;
}
div#list_of_comments ol li label:nth-child(3)
{
    padding-left:30px;
    
}
.unhideComment{
	text-decoration:none;
	font-weight:bold;
	margin-left:5px;
	font-size : 11px !important;
}
.unhideComment:hover{
	font-weight:bold;
	opacity:1;
	color:#6C518F;
}
.bg-none{
	background-image:none !important;
}
#dialog_confirm{
	display:none;
}

.share a span {
    color: #696969 !important;
}
.socialise-share-photo2 .col1 
{
	margin-top: -1px !important;
}

.socialise-share-photo2 .col3 
{
	margin-top: -2px !important;
}


/***** Aug14 Css *****/

.news-update-content-icon {
    float: left;
    margin: 2px 10px 0 0;
    padding: 0;
    width: 42px;
	position : relative;
	border: 1px solid #CCCCCC;
}
.news-update-content-icon img{
 	width:100%;
}
.news-update-date {
    float: left;
    margin: 0;
    padding: 0;
    width: 80%;
}
.news-update-arrow {
	float:right;
	width:auto;
}
.news-update-column{
	width:96%;
	margin:0;
	padding:5px 2% 15px 2%;
	border-bottom:1px solid #e8eae9;
	float: left;
	background:#fff;
	position:relative;
}
.news-update-date h4 {
    float: left;
    margin: 2px 0 0 0;
    padding: 0;
    width: 100%;
	text-transform:inherit;
	font-size:13px;
	font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.news-update-date h4 a{color:#6c518f; font-weight:bold;}
.news-update-date p{
	width:100%;
	margin:0;
	padding:0;
	float:right;
	color:#737e8a;
	font-size:12px;
}
.news-update-content {
    float: left;
    margin: 0 0 12px;
    /*padding: 1% 0% 0% 0%;*/
	padding: 0% 0% 0% 0%;
    position: relative;
    width: 100%;
}
.news-update-content-text{
	width:96%;
	padding:0 2%;
	margin:0;
	float:left;
	background:#fff;
}
.news-update-content-text p{
    float: left;
    padding: 10px 0;
    width: 100%;
    word-wrap: break-word;
}
.news-update-img {
    float: left;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
}
.add_comment{
	font-size:14px;
}
.comment-box-outer{
	background:#f6f7f8;
	width:100%;
	padding:0 0 10px 0;
	margin:0;
	float:left;
	border-top:1px solid #e8eae9;
}
.people-who-liked, .people-who-liked-wish
{
	width:96%;
	padding:2% 2%;
	margin:0;
	float:left;
	border-bottom:1px solid #e8eae9;
}
.people-who-liked img, .people-who-liked-wish img {
	margin:0 5px 0 0;
}
.comment-write-outer {
    background: none repeat scroll 0 0 #f6f7f8;
    float: left;
    margin: 10px 0 0;
    padding: 0 2%;
    width: 96%;
}
.comment-write-left{
	width:32px;
	padding:0;
	margin:0;
	float:left;
	border:1px solid #d3d3d3;
}
.comment-write-left img{
	width:100%;
}
.comment-write-right{
	width:90%;
	padding:0 0 0 8px;
	float:left;
}
.comment-textarea{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #d3d6db;
    color: #48545e;
    float: left;
    font-size: 12px;
    height: 18px;
    margin: 0;
    padding: 9px 3px 5px;
    resize: none;
    width: 99%;
}
.comment-text1 span{
	width:auto;
	font-weight:bold;
	color:#6c518f;
	float:left;
	margin:0 3px 0 0;
}
.comment-text1 span a{
	width:auto;
	font-weight:bold;
	color:#6c518f !important;
	font-size : 12px !important;
	text-decoration :none !important;
	float:left;
	margin:0 3px 0 0;
}
.comment-text1{
	color: #4E5665;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 0 0 0;
    width: 100%;
}
.enter-post{
	color: #4E5665;
    float: left;
    font-size: 11px;
    padding: 0px 0;
    width: 100%;
	display:none;
	height:9px;
}
div.people-who-liked span font.likers
{
	font-weight: bold;
	color: #6C518F;
	cursor: pointer;
}
.user_name{
	font-weight:bold;
	color: #000000;
}
.news-update-column .quickview-outer{
    left: 3px !important;
    top: 52px !important;
}
.news-update-column .quickview{
	float:left !important;
	margin: 12px 0 0 -222px !important;
	position : relative !important;
}
.news-update-column .download{
top:0px !important;
}
.news-update-column .popupArrow{
	position:absolute !important;
	top: -10px !important;
}



.comments-outer .quickview-outer{
	left: auto !important;
	top: 43px !important;
}
.comments-outer .quickview{
	float:left !important;
	margin: 12px 0 0 -222px !important;
	position : relative !important;
}
.comments-outer .download{
top:0px !important;
}
.comments-outer .popupArrow{
	position:absolute !important;
	top: -10px !important;
}
.img32{
	width:32px !important;
}

.share-hdr2{
	background:#f4f4f4;
	padding:4%;
	width:92%;
	float:left;
border-top:1px solid #ddd;
}
.share-hdr2-lt{
	padding:0%;
	width:30%;
	float:left;
}
#photo_thumbnail{
	width:100%;
}
#photo_thumbnail img{
	width:100%;
}
.share-hdr2-rt{
	padding:0%;
	width:67%;
	float:left;
	margin:0 0 0 3%;
}
.share-hdr2-rt h4{
	padding:0%;
	width:100%;
	float:left;
	margin:0;
	font-size:14px;
text-transform:inherit;
}
.share-hdr2-rt p{
	padding:0%;
	width:100%;
	float:left;
	margin:0;
	font-size:12px;
	color:#959595;
	word-wrap: break-word;
}

.share-greybox{
	 background: none repeat scroll 0 0 #F4F4F4;
    float: left;
	margin: 10px 0 11px 27px;
    padding: 2%;
    width: 89%;
}
.share-greybox-lt{
	float: left;
    margin:0 0 10px 0;
    padding:0;
    width: 20%;
	text-align:right;
}
.share-greybox-rt{
	float: left;
    margin:0 0 10px 2%;
    padding:0;
    width: 78%;
}

.option-pop3 {
   	left: -24px !important;
	top: 17px !important;
	bottom: auto !important;
}

.option-pop a, .option-pop2 a {
    border-bottom: 1px solid #E4E4E4;
    color: #000000;
    float: left;
    font-size: 11px;
    line-height: 15px;
    padding: 5px;
    text-decoration: none;
    width: 100%;
}
.option-pop a:last-child, .option-pop2 a:last-child{
	border:none;
}

.option-pop a:hover, .option-pop2 a:hover{
    background: none repeat scroll 0 0 #6C518F;
    color: #FFFFFF;
 text-decoration: none;
}
.privacy_icon{
	width:15px;	
}
.option-pop a div.public{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_public_grey.png);
	background-repeat:no-repeat ;
	background-size:100%;
	width:15px;
	float:left;
}
.option-pop a div.public.selected{
	background-image: url(../../images/privacy_public_purple.png);
}

.option-pop a.full-screen-view.selected
{
	font-weight: bold;
	color: #6C518F;
}

.option-pop a.full-screen-view.selected:HOVER
{
	font-weight: bold;
	color: #FFFFFF;
}

.option-pop a:hover div.public{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_public_white.png);
	background-repeat:no-repeat ;
	background-size:100%;

}

.option-pop a div.links{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_links_grey.png);
	background-repeat:no-repeat ;
	background-size:100%;
	width:15px;
	float:left;

}
.option-pop a div.links.selected{
	background-image: url(../../images/privacy_links_purple.png);	
}

.option-pop a:hover div.links{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_links_white.png);
	background-repeat:no-repeat ;
	background-size:100%;

}
.option-pop a div.links2{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_links_of_links_grey.png);
	background-repeat:no-repeat ;
	background-size:100%;
	width:15px;
	float:left;
}
.option-pop a div.links2.selected{
	background-image: url(../../images/privacy_links_of_links_purple.png);
	font-weight: bold;
	color: #6C518F;
}
.option-pop a:hover div.links2{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_links_of_links_white.png);
	background-repeat:no-repeat ;
	background-size:100%;

}
img.privacy_settings_arrow
{
	cursor: pointer;
}
.news-update-date p img {  
    margin: 0 0 0 6px;
    vertical-align: middle;
}ul.token-input-list-facebook{
/* 	width:320px !important;	 */
	width: 99% !important;
}
div.token-input-dropdown-facebook{
	z-index:2147483647 !important;
	width:316px !important;
}
.comment-outer-popup-border {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px !important;
}
.dashboard-sharelink-arrow {
    position: absolute;
    right: 20px;
    top: 10px;
    width: auto;
}
.option-pop2 {
    left: -90px;
}

div.wallpost_editor {
    border: 1px solid #d3d6db;
    clear: both;
    display: none;
    float: left;
    margin: 15px 0;
    width: 100%;
}

div.wallpost_editor textarea
{
	width: 98% !important;
	margin:0px !important;
	background:#fff;
}
.wall-editor-btn{
	width:100%;
	float:left;
	border-top:1px solid #eee;
	text-align:right;
	padding:5px 0;
}
.wall-editor-btn a{
	cursor:pointer;
}
.btn-purple {
    padding: 0 15px !important;
}
.light_color
{
	color: #949494;
}

/***** Wish Popup *****/

.wish-pop-outer {
     left: -540px;
    position: absolute;
    top: 80px;
    width: 524px;
    z-index: 1;
}
.wish-pop-arrow {
    float: right;
    margin: 20px 0 0;
    padding: 0;
    width: auto;
}
.wish-pop-bot{
	width:500px;
	float:left;
	padding:0;
	border:1px solid #46525e;
	background:#fff;
}
.wish-data-outer{
	background:#fff;
	padding:2%;
	width:96%;
	float:left;
}
.wish-img-text-outer{
	padding:0;
	width:100%;
	float:left;
}
.wish-img-text-lt{
	padding:0;
	width:auto;
	float:left;
}
.wish-img-text-rt{
	padding:0;
	max-width: 76%;
	float:left;
	margin:0 0 0 2%;
}
.wish-img-text-rt h4{
	padding:0;
	width:100%;
	float:left;
	color:#6C518F;
	font-weight:bold;
	text-transform:none;
	font-size:14px;
	font-weight:bold;
}
a.wish-img-text-rt-link{
	padding:0;
	width:100%;
	float:left;
	color:#6C518F;
	font-weight:bold;
	text-transform:none;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.wish-img-text-rt p{
	padding:0;
	width:100%;
	float:left;
	font-size:12px;
}
.wish-data-outer .news-update-likes{
	margin:10px 0 0 0 !important;
}
div.wish-pop-outer
{
	display: none;
}

.wish-pop-margin{
	margin:0 !important;
}
div.wish-pop-bot-inner
{
	width: 500px;
}

div.see_more_wishes
{
  height: 25px !important;
  margin: 0 0 2px !important;
}
a.see_more_wishes_text {
	float: right;
}
p.see_more_wishes_p
{
	margin: 3px 0 0;
}
.individual-msg-div{
	display:none;
}

div#dialog_confirm_delete_wallpost
{
	display:none;
}
div#dialog_success_share
{
	display:none;
}
div#dialog_delete_comment_in_popup
{
	display:none;
	z-index: 1000 !important 
}
div#dialog_delete_comment
{
	display:none;
}
div.wish-pop-outer div.comments_outer {
    float: left;
    max-height: 290px;
    width: 100%;
}

div.wish-content-outer{
	float: left;
   /* position: relative; popup location changed*/
    width: 100%;
}

div.news-update-content div.wish-icon
{
	position:absolute; 
	/* right:5px;  */
	right:35px; 
	
	top:5px;
}

ul.token-input-list-facebook li input {
    width: 100% !important;
}
div.wish-data-rt-text a.text-purple2-link:hover
{
	text-decoration:none;
}
/***** New Wish Design Oct 14 *****/
.wish-outer {
    float: left;
    padding: 0;
    width: 100%;
   position: relative;
}
.wish-hdr {
  	background: none repeat scroll 0 0 #fff;
    border-bottom: 2px solid #ddd;
    color: #6c518f;
    float: left;
    font-family: oswaldlight;
    font-size: 18px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
    margin: 0;
    padding: 0 3%;
    width: 94%;
}
.wish-data {
    float: left;
    margin: 0 0 2px;
    padding: 2%;
    width: 96%;
	position: relative;
	cursor:pointer;
}
.wish-data.icon-bag
{
	background: url("../../images/icon-bag.png") no-repeat scroll right 48px top 6px #fff;
}
.wish-data.icon-bag:hover
{
	background: url("../../images/icon-bag-hover.png") no-repeat scroll right 48px top  6px #6c518f;
}
.wish-data.icon-bday
{
	background: url("../../images/icon-bday.png") no-repeat scroll right 48px top 6px #fff;
}
.wish-data.icon-bday:hover
{
	background: url("../../images/icon-bday-hover.png") no-repeat scroll right 48px top  6px #6c518f;
}
.wish-data.icon-anniversary
{
	background: url("../../images/icon-anniversary.png") no-repeat scroll right 48px top 6px #fff;
}
.wish-data.icon-anniversary:hover
{
	background: url("../../images/icon-anniversary-hover.png") no-repeat scroll right 48px top  6px #6c518f;
}
.wish-data.icon-add-people
{
	background: url("../../images/icon-add-people.png") no-repeat scroll right 48px top 6px #fff;
}
.wish-data.icon-add-people:hover
{
	background: url("../../images/icon-add-people-hover.png") no-repeat scroll right 48px top  6px #6c518f;
}

.wish-data:HOVER {
	color:#fff !important;
}
.wish-data:HOVER a.text-purple2-link{
	color: #FFF!important;
}
.wish-data:HOVER div.wish-bot-text{
	color: #FFF!important;
}
.wish-data:HOVER div.wish-data-rt2-lt p,.wish-data:HOVER div.wish-data-rt2-lt h4{
	color: #FFF!important;
}

.wish-data-lt {
    float: left;
    margin: 0;
    padding: 0;
    width: 40px;
}
.wish-data-rt {
    float: left;
    margin: 0 0 0 7px;
    padding: 0;
    width: 80%;
	position:relative;
}
.wish-data-rt-text {
    float: left;
    font-size: 12px;
    margin: 0 3px 0 0;
    padding: 0;
    width: 170px;
}
.wish-data-rt-img {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}
.wish-data-rt-text a {
    font-weight: bold;
}
.wish-data-rt2 {
    float: left;
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
}
.wish-data-rt2-lt {
    float: left;
    margin: 0;
    padding: 0;
    width: 150px;
}
.wish-data-rt2-lt h4 {
    color: #6C518F;
    font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 99%;
	text-transform:inherit;
	cursor:auto;
}
.wish-data-rt2-lt p {
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    width: 99%;
}
.wish-data-rt2-rt {
    float: right;
    margin: 0;
    padding: 0;
    width: 40px;
}
.wish-bot-text {
    color: #7F7F7F;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 1px 0 0;
    padding: 0;
    width: 100%;
}
div.comment_text label.show_full_comment {
    color: #6c518f;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}
span.wallpost_text_full, span.wallpost_text_when_shared_cropped
{
	display:none;
}
span.wallpost_text_cropped label {
    color: #4d356f;
    cursor: pointer;
    display: block;
    width: 58px;
}

div.ok-comment-box-bot {
    margin-top: 10px;
}

div#post_btn
{
	display: none;
}
/** css added 26th march**/

.invite-mails-outer {
     background: #ffffff none repeat scroll 0 0;
    border-bottom: 2px solid #dddddd;
    float: left;
    padding: 10px 30px;
    width: 80%;
}

.invite-mails-hdr {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

.invite-mails-data {
    padding: 5px 0 30px;
    text-align: center;
    width: 100%;
	float : left;
}
.invite-mails-data a {
    background-color: #efefef;
    border: 1px solid #e3e3e3;
    color: #6c518f;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    padding: 5px;
    text-decoration: none;
    width: 48px;
}


/* .invite-mails-data > a#gmail{
	float : left;
}
 */
.invite-mails-data > a#yahoo{
	float : right;
}
.invite-mails-data a span {
    display: block;
    margin-top: 3px;
    text-align: center;
    width: 100%;
}

.invite-your-mail {
    padding: 0 4%;
    text-align: center;
    width: 90%;
}

.invite-your-mail input[type="text"] {
    border: 1px solid #DDDDDD;
    float: left;
    margin: 0;
    padding: 3px;
    width: 99%;
}

.invite-your-mail input[type="button"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: #6C518F;
    cursor: pointer;
    margin: 10px auto;
    padding: 2px 5px 1px;
    width: auto;
}

/***** shav 15 April *****/
.collage-outer{
	width:580px;
	margin:0;
	padding:0;
	float:left;
}

.collage-inner{
	max-width:570px;
	margin:0;
	padding:0;
	float:left;
/* 	border:5px solid #fff; */
	max-height:375px;
}

.collage-pic2-div-one img{ width:100%; height:100%;}
.collage-pic2-div-two img{ width:100%; height:100%;}
.collage-pic3-div-one img{ width:100%; height:100%;}
.collage-pic3-div-two img{ width:100%; height:100%;}
.collage-pic3-div-three img{ width:100%; height:100%;}
.collage-pic3-div-four img{ width:100%; height:100%;}
.collage-pic4-div-one img{ width:100%; height:100%;}
.collage-pic4-div-two img{ width:100%; height:100%;}
.collage-pic4-div-three img{ width:100%; height:100%;}
.collage-pic4-div-four img{ width:100%; height:100%;}
.collage-pic4-div-five img{ width:100%; height:100%;}
.collage-pic4-div-six img{ width:100%; height:100%;}
.collage-pic4-div-seven img{ width:100%; height:100%;}
.collage-pic4-div-eight img{ width:100%; height:100%;}

.collage-pic1{
	margin:0;
	padding:0;
	float:left;
	width:100%;
	}

.collage-pic2-div-one{
	width:570px;
	margin:0;
	padding:0;
	float:left;
	border-bottom:5px solid #fff;
	height:185px;
}
.collage-pic2-div-one:last-child{border:none;}

.collage-pic2-div-two{
	width:280px;
	margin:0;
	padding:0;
	float:left;
	border-right:5px solid #fff;
	height:375px;
}
.collage-pic2-div-two:last-child{border:none; width:285px;}

.collage-pic3-div-one{
	width:570px;
	margin:0;
	padding:0;
	float:left;
	border-bottom:5px solid #fff;
	height:185px;
}
.collage-pic3-div-two{
	width:280px;
	margin:0;
	padding:0;
	float:left;
	border-right:5px solid #fff;
	height:185px;
}
.collage-pic3-div-two:last-child{border:none; width:285px;}

.collage-pic3-div-three{
	border-right: 5px solid #fff;
    float: left;
    height: 375px;
    margin: 0;
    padding: 0;
    width: 280px;
}
.collage-pic3-div-four{
	border-bottom: 5px solid #fff;
    float: left;
    height: 184px;
    margin: 0;
    padding: 0;
    width: 285px;
}
.collage-pic3-div-four:last-child{border:none; height:185px; }

.collage-pic4-div-one{
	border-bottom: 5px solid #fff;
	border-right: 5px solid #fff;
    float: left;
    height: 184px;
    margin: 0;
    padding: 0;
    width: 280px;
}
.collage-pic4-div-two{
    float: left;
    height: 184px;
    margin: 0;
    padding: 0;
    width: 285px;
	border-bottom: 5px solid #fff;
}
.collage-pic4-div-three{
	border-right: 5px solid #fff;
    float: left;
    height: 375px;
    margin: 0;
    padding: 0;
    width: 280px;
}
.collage-pic4-div-four{
	border-bottom: 5px solid #fff;
    float: left;
    height: 121px;
    margin: 0;
    padding: 0;
    width: 285px;
}
.collage-pic4-div-five{
    float: left;
    height: 123px;
    margin: 0;
    padding: 0;
    width: 285px;
}
.collage-pic4-div-six{
    float: left;
    height: 184px;
    margin: 0;
    padding: 0;
    width: 570px;
	border-bottom: 5px solid #fff;
}
.collage-pic4-div-seven{
    float: left;
    height: 186px;
    margin: 0;
    padding: 0;
    width: 187px;
	border-right: 5px solid #fff;
}
.collage-pic4-div-eight{
    float: left;
    height: 186px;
    margin: 0;
    padding: 0;
    width: 186px;
}
.collage-lt{
    float: left;
    height: 375px;
    margin: 0;
    padding: 0;
    width: 285px;
}
.collage-top{
    float: left;
    height: 189px;
    margin: 0;
    padding: 0;
    width:570px;
}
img.require_jquery_thumbnail_processing
{
	display: none;
}

img.single_image
{
/* 	max-width: 550px; */
/* 	max-height: 351px; */
	max-height: 356px;
    max-width: 570px;
}

/***** shav 15 April *****/

.template-download{float: left;
    margin: 5px 10px 0 0;
    position: relative;
    width: 80px;
    /*height: 80px;*/}
.template-download span{ float:left;}
.template-download textarea{ float:left; font-size:11px; padding:4px; box-sizing:border-box; border: 1px solid #ddd;}

button.remove_thumb.delete
{
	background:none;
	border: none;  position: absolute; right: 0; top: 3px;
}
button.remove_thumb.delete span.ui-icon-trash
{
	display: none;
}
button.remove_thumb.delete span.ui-button-text
{ padding:0;

}

.presentation-outer {
    float: left;
    margin-bottom: 10px;
    max-height: 232px;
    overflow: auto;
    width: 860px;
}
form#fileupload .ui-progressbar{ width:857px; height: 1em; }
form#fileupload .ui-progressbar .ui-progressbar-value{margin:0 !important; height: 1em;}

div.nailthumb-container img.nailthumb-image, div.collage-pic1 img.single_image
{
	cursor: pointer;
}
div.share_photo_feed_popup img.single_image
{
	cursor : default !important;
}

.fileupload-progress {
	margin: 10px 0;
}
.fileupload-progress .progress-extended {
	margin-top: 5px;
}
.error {
  color: red;
}

@media (min-width: 481px) {
  .navigation {
    list-style: none;
    padding: 0;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation li:not(:first-child):before {
    content: "| ";
  }
}



div.multi-photo-upload {
    float: left;
    margin: 0 0 0 10px;
    padding: 0;
    width: 100%;
}

div.multi-photo-upload .socialise-share-photo2 .col2 {clear:both}


div.fileupload-buttons input[type="file"] {
    border: 1px solid red;
    display: block;
    height: 28px;
    width: 137px;
}

div.fileupload-buttons input#album_title {
    border: 1px solid #8e7cb0;
    font-weight: bold;
    height: 28px;
    left: 356px;
    padding: 0 5px;
    position: absolute;
    top: 0;
    width: 492px;
	display: none;
}
div.fileupload-buttons input#album_title:focus {
	border: 1px solid #422b64;
}
div.fileupload-buttonbar{position:relative;}
div.fileupload-buttons input#create_album[type="file"] {
    width: 201px;
}
div.multi-photo-upload .socialise-share-photo2 .col2 {clear:both}

/** share popup css**/


.collage2-outer{
	width:205px;
	margin:0 20px 20px 0;
	padding:0;
	float:left;
}
.collage2-inner{
	width:200px;
	height:160px;
	margin:0;
	padding:0;
	float:left;
	border:5px solid #F4F4F4;
}
.collage2-pic2-div-one img{ width:100%; height:100%;}
.collage2-pic2-div-two img{ width:100%; height:100%;}
.collage2-pic3-div-one img{ width:100%; height:100%;}
.collage2-pic3-div-two img{ width:100%; height:100%;}
.collage2-pic3-div-three img{ width:100%; height:100%;}
.collage2-pic3-div-four img{ width:100%; height:100%;}
.collage2-pic4-div-one img{ width:100%; height:100%;}
.collage2-pic4-div-two img{ width:100%; height:100%;}
.collage2-pic4-div-three img{ width:100%; height:100%;}
.collage2-pic4-div-four img{ width:100%; height:100%;}
.collage2-pic4-div-five img{ width:100%; height:100%;}
.collage2-pic4-div-six img{ width:100%; height:100%;}
.collage2-pic4-div-seven img{ width:100%; height:100%;}
.collage2-pic4-div-eight img{ width:100%; height:100%;}
.collage2-pic4-div-nine img{ width:100%; height:100%;}
.collage2-pic4-div-ten img{ width:100%; height:100%;}

.collage2-pic1{
	margin:0;
	padding:0;
	float:left;
	width:100%;
	height:100%;
}
.collage2-pic1 img{ width:100%; height:100%;}

.collage2-pic2-div-one{
	width:200px;
	margin:0;
	padding:0;
	float:left;
	border-bottom:5px solid #F4F4F4;
	height:78px;
}
.collage2-pic2-div-one:last-child{border:none;}

.collage2-pic2-div-two{
	width:50%;
	margin:0;
	padding:0;
	float:left;
	border-right:5px solid #F4F4F4;
	height:160px;
}
.collage2-pic2-div-two:last-child{border:none; width:80px;}

.collage2-pic3-div-one{
	width:200px;
	margin:0;
	padding:0;
	float:left;
	border-bottom:5px solid #F4F4F4;
	height:78px;
}
.collage2-pic3-div-two{
	/* width:50%; */
	height:80px;
	margin:0;
	padding:0;
	float:left;
	border-right:5px solid #F4F4F4;
}
.collage2-pic3-div-two:last-child{border:none; /* width:285px; */}


.collage2-pic3-div-three {
    border-right: 5px solid #F4F4F4;
    float: left;
    height: 160px;
    margin: 0;
    padding: 0;
    width: 50%;
}

.collage2-pic3-div-four {
    border-bottom: 5px solid #F4F4F4;
    float: left;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 95px;
}
.collage2-pic3-div-four:last-child{border:none; height:80px; }

.collage2-pic4-div-one {
    border-bottom: 5px solid #F4F4F4;
    border-right: 5px solid #F4F4F4;
    float: left;
    height: 77px;
    margin: 0;
    padding: 0;
    width: 100px;
}
.collage2-pic4-div-two {
    border-bottom: 5px solid #F4F4F4;
    float: left;
    height: 77px;
    margin: 0;
    padding: 0;
    width: 95px;
}
.collage2-pic4-div-three {
    border-right: 5px solid #F4F4F4;
    float: left;
    height: 160px;
    margin: 0;
    padding: 0;
    width: 100px;
}
.collage2-pic4-div-four {
    border-bottom: 5px solid #F4F4F4;
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 95px;
}

.collage2-pic4-div-five {
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 95px;
}

.collage2-pic4-div-six {
    border-bottom: 5px solid #F4F4F4;
    float: left;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 200px;
}

.collage2-pic4-div-seven {
    border-right: 5px solid #F4F4F4;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 63px;
}

.collage2-pic4-div-eight {
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 64px;
}

.collage2-pic4-div-nine {
    border-bottom: 5px solid #F4F4F4;
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100px;
}

.collage2-pic4-div-ten {
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100px;
}

.collage2-pic4-div-eleven {
    border-right: 5px solid #F4F4F4;
    float: left;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 63px;
}
.collage2-pic4-div-twelve {
    float: left;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 64px;
}
.collage2-lt {
    float: left;
    height: 160px;
    margin: 0;
    padding: 0;
    width: 100px;
}

.collage2-top {
    float: left;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 200px;
}
img.small_jquerynailthumb, div#share_box img.single_image
{
	display: none;
}

/**Changes21May**/
.socialise-share-photo{position:relative;}
.socialise-share-photo h5{
	position:absolute;left:260px; top:18px; font-size:15px; color:#7c7c7c;	
}

.share-hdr2-lt.collage_text{width:44%}
.share-hdr2-rt.collage_text{
	width:50%;
	margin : 3px 0 0 3%
}

.news-update-column.no-border-bottom
{
	border-bottom :medium none;
}
#sticky.stick 
{
    
    /*overflow-y: auto;
	overflow-x: hidden;*/
    position: fixed;
    top: 0;
    width: 291px;
   
}
#sticky.stick.invite-mails-outer 
{
    width: 233px;
}

#sticky.stick div.you-may-know-outer {
    margin: 0 0 0 2px;
}
#sticky.stick div.wish-content-outer div.wish-data
{
	width:100%;
	box-sizing:border-box;
	
}

.wish_stick.stick
{
	height: 500px;
}
.abuse-text{float:right;}


.shared-link span {
    font-weight: bold;
    word-wrap: break-word;
}

.shared-link {
    float: left;
    margin: 5px 0 10px 0;
    padding: 0;
    width: 95%;
}
.text-black{
	color:#000 !important;
}
.fnt-bold{
	font-weight:bold;
}
div.original_user_data{
   float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}
div.original_user_img_outer{
 float: left;
    padding: 0;
    width: auto;
}
div.original_user_img
{
	height:32px;
	width:32px;
	border: 1px solid #cccccc;
}
div.original_user_detail
{
 	color: #696969;
    padding: 0 10px;
    width: 89%;
}
.news-update-content-text p.original_user_name
{
	float:none !important;
	padding:0 !important;
}
.news-update-content-text p.original_user_post_text
{
	float:none !important;
	padding:0 !important;
}
div.news-update-content-text p.original_user_post_time,
div.share-link-detail p.original_user_post_time
{
	float:none;
	padding:0;
	color: #737e8a;
    font-size: 12px;
	width:auto;
}
/**** View more on like and share popup ****/
.view_more_who_liked {
    height: 30px;
    margin: 185px 0 0;
    position: relative;
    text-align: center;
}
.view_more_who_liked > p {
    left: 156px;
    position: absolute;
    text-align: center;
    top: 8px;
}
/***Share popup***/
.view_more_who_shared{
       float: left;
    height: 30px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.view_more_who_shared> p {
    left: 156px;
    position: absolute;
    text-align: center;
    top: 8px;
}
/**** END - View more on like and share popup ****/

/**** Editor to add photos CSS *****/


div#cke.cke_1.cke.cke_reset.cke_chrome.cke_photo_text_ckeditor
{
    margin : 10px 0;
}

.cke_23.cke_chrome,
div#cke_photo_text_ckeditor{
    border: 1px solid #e6e5e6;
    margin-top: 10px;
}
div#cke_photo_text .cke_top.cke_reset_all{
    display : none !important;
}
div#cke_photo_text_ckeditor .cke_top.cke_reset_all{
    display : none !important;
}_share_text_msg .cke_top.cke_reset_all{
	display : none !important;
}

/**** END Editor to add photos CSS *****/

div.news-update-content-text div.quickview-outer
{
	top:33px;
	left:0;
}
div.news-update-content-text .quickview {
    float: left !important;
    margin: 0 0 0 -222px !important;
    position: relative !important;
}