@CHARSET "ISO-8859-1";
.news-likes a {
    margin: 0 !important;
}
.news-likes {
    position:relative;
	margin: 10px 0 !important;
}
.report-abuse{
	margin:0 15px 0 0;
	padding:0;
	float:left;	
	width:auto;
	color:#c4c4c4;
}
.report-abuse a{
	margin:0;
	padding:0 0 0 5px;
	color:#c4c4c4;
	text-decoration:none;
}
.report-abuse a span{
	margin:0 0 0 0;
	padding:0;
	color:#c4c4c4;
	text-decoration:none;
	background: url(../../images/icon-sprite-new.png) no-repeat -375px 1px;
	width:16px;
	float:left;
}
.report-abuse a:hover{
	color:#b084e9;
}
.report-abuse a:hover span{
	color:#b084e9;
	background: url(../../images/icon-sprite-new.png) no-repeat -393px 1px;
	width:16px;
}


div.report-abuse div.abuse-text {
    float: right;
}
.url-loader{
	
    float: left;
    margin: 20px 0 0;
    overflow: hidden;
    padding-top: 0;
    text-align: center;
    width: 100%;
}
img.close_url
{
	
	cursor:pointer;
	visibility:hidden;
	float:right;
}


.news-update-likes a {
    margin: 0 0 0 0 !important;
}
.share-something-left > .img-profile {
    border: 1px solid grey;
    display: table-cell;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
div#share_button
{
	width: 72px;
	height: 25px;
    display: inline-block;
    margin: 1px 0 0;
}
div#share_button div
{
	text-align: center;
    vertical-align: middle;
	display: table-cell;
	width: 72px;
	height: 25px;
}


div.news-content-icon div {
    display: table-cell;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

div.loading_updates div {
    display: table-cell;
    height: inherit;
    text-align: center;
    width: inherit;
}

div.loading_updates {
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    width: 100%;
}

div.loading_updates div {
     float: left;
    height: inherit;
    padding: 15px 0;
    text-align: center;
    vertical-align: super;
    width: 100%;
}
div.show_more {
    background-color: #FFFFFF;
    border: 1px solid #6C518F;
    cursor: pointer;
    display: inline-block;
    height: 36px;
/*     width: 462px; */
	width: 100%;
}

div.show_more div {
    color: #6C518F;
    display: table-cell;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: inherit;
	display:block;
}
div.no_more {
    background-color: #E5E5E5;
    border: 1px solid #C0C0C0;
    display: inline-block;
    height: 36px;
    text-align: center;
    width: 100%;
}


div.no_more div {
    color: #808080;
    height: inherit;
    margin: 10px 15px 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
div.loading_more_updates {
    background-color: #ffffff;
    border: 1px solid #6C518F;
    display: inline-block;
    height: 36px;
    width:100%;
}

div.loading_more_updates div 
{
     height: inherit;
    margin: 10px 0 0 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
div.loading_updates div lable,
div.loading_more_updates div lable
{ 
	margin-left:5px; 
	color: #b4b4b4;
}
div.loading_updates div img,
div.loading_more_updates div img
{
	vertical-align: sub;
}

/********** carasol  **********/
.carasol-content {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 0;
    position: relative;
    width: inherit;
}

#left-but
 {
	 background:url(../../images/lt_arrow.png) no-repeat;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 2;
	border:0 none;
	 top: 58px;
    left: 2px;
 }
 
 #right-but
 {background:url(../../images/rt_arrow.png) no-repeat;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 2;
	border:0 none;
	 right: 9px;
    top: 58px;
 }
.viewed-profilenew {
    background: none repeat scroll 0 0 #4D356F;
    float: left;
    margin: 2px 0 0;
    padding: 0% 1%;
    width: 98%;
 	height:45px;
 	line-height:45px;
}
.viewed-profile_crousal {
    margin: 53px 108px 0;
    padding: 63px 2%;
    text-align: right;
}
/* for large content in wall section*/
.news-content-text p{
	word-wrap: break-word !important;
}
.commentbox-arrow{
	float:left;
margin-left:138px;
}



#carousal_anchor_1 {
    position:relative;
}

#carousal_anchor_1 .slider {
    display:none;
    position:absolute;
    top:0;
	background:#f6f6f6;
	border:1px solid #c7c7c7;
	padding:5px;
	width:85px;
	height:85px;
	z-index:9999;
	left:0;
}
#carousal_anchor_1 .slider h4{
	font-size:14px;
	margin-bottom:0;
}
#carousal_anchor_1 .slider p{
	font-size:12px;
}

#carousal_anchor_1:hover .slider {
    display:block;
}

// extract url css..



.extract_url {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	width: 500px;
	min-height:100px;
}
.get_url_input {
	width: 100%;
	border: 1px solid #8E9CA4;
	height: 25px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 30px;
	min-height: 50px;
}
.extracted_thumb {
	float: left;
	margin-right: 10px;
}

#loading_indicator{

	display:none;
}
#results{
	display:none;
}

.thumb_sel {
	float: left;
	height: 22px;
	width: 55px;
	margin-top:10px;
}
.thumb_sel .prev_thumb {
	background: url(../../images/thumb_selection.gif) no-repeat -50px 0px;
	float: left;
	width: 26px;
	height: 22px;
	cursor: hand;
	cursor: pointer;
}
.thumb_sel .prev_thumb:hover {
	background: url(../../images/thumb_selection.gif) no-repeat 0px 0px;
}
.thumb_sel .next_thumb {
	background: url(../../images/thumb_selection.gif) no-repeat -76px 0px;
	float: left;
	width: 24px;
	height: 22px;
	cursor: hand; 
	cursor: pointer;
}
.thumb_sel .next_thumb:hover {
	background: url(../../images/thumb_selection.gif) no-repeat -26px 0px;
}
.small_text{
	font-size: 10px;
	margin-top:13px;
	float:left;
}
.ok-comment-box {
	color: #48545E;
    float: left;
    margin: 0;
    padding:0 2%;
    width: 96%;
}

.ok-comment-box-top-left {
width: 4%;
float: left;
margin: 4px 0 0 0;
padding: 0;
}

.ok-comment-box-bot-right {
    float: left;
    margin: 2px 0 0 0;
    padding: 0;
    width: 94%;
	color:#6c518f;
	font-weight:bold;
}

.ok-comment-box-top-right {
width: 94%;
float: left;
margin: 0 0 0 2%;
padding: 0;
}

.ok-comment-box-bot-left {
    float: left;
    margin: 2px 4px 0 0;
    padding: 0;
    width: auto;
}


.commentbox-outer2 {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 27px;
    width: 461px;
    z-index: 9999;
}
.commentbox-outer {
    float: right;
    margin: -10px -2px 0 0;
    padding:0;
    width: 461px;
}
.commentbox-arrow {
    float:left;
    margin: 0 42px;
    padding:0;
    width: auto;
}
.commentbox-content {
    float: right;
    margin:0;
    padding: 22px 10px;
    width: 441px;
                background:#dedede;
}
.commentbox-left{
                width:50px;
                margin:0;
                padding:0;
                float:left;
}
.commentbox-right{
                width:375px;
                margin:0 0 0 10px;
                padding:0;
                float:left;
}

/* END Post comment and comment box css */
/* listing comment box css */
div.ok-comment-box
{
	color: #48545E;
}
.ok-comment-box-bot-right {
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    width: 94%;
}
.comments-outer {
	/*border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px !important;*/
    float: left !important;
    margin: 10px 0 0 !important;
    position: relative;
    width: 100% !important;
}

.comments-outer .img {
    float: left;
    margin: 0;
    padding: 0;
    
}
/* END listing comment box css */


/***** See more comments ol ****/

#list_of_comments ol
{
	margin:0px 0 0 0;
	padding: 0 0 0 2px;
}
#list_of_comments ol li
{
	float: left;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
	list-style-type: none;
}
#list_of_comments ol li a{
	margin:0;
	padding:0;
}
#list_of_comments ol li a:hover{
	margin:0;
	padding:0;
}
#list_of_comments ol li a .img{
	float:left;
	width:auto;
	margin:0 10px 0 0;
}

div#list_of_comments span#load_more_comments {
   /* border: 1px solid #B084E9;*/
	background:#F5F6F7;
    color: #011777;
	font-weight:bold;
    cursor: pointer;
    display: inline-block;
    /*margin-bottom: 10px;*/
    margin-top: 5px;
    padding: 8px 0;
    text-align: center;
    width: 99%;
}
div#list_of_comments span#load_more_comments img{
 margin:0px 5px 0 0;
	 vertical-align: middle;
}
div#list_of_comments label{
	font-size: 12px;
    line-height: 18px;
    max-width: 290px;
    width: auto;
}
div#list_of_comments .load-img{
	padding:4.5px 0;
	
}
div.comments-outer div.img div
{
 	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div.comments-outer div.img div:hover
{
	/* border: 1px solid #6C518F; */
}
div.photo_holder a div.photo_aligner img
{
	max-width: 50px;
	max-height: 50px;
}
div.comments-outer a div.img div img
{
	 /* max-width: 40px;
	max-height: 40px; */
}
div.commentbox-content div.commentbox-left div img
{
	max-height: 50px;
	max-width: 50px;
}
div.commentbox-content div.commentbox-left div
{
	border: 1px solid grey;
	display: table-cell;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
div#list_of_comments ol li a div.img div
{
	border: 1px solid silver;
	display: table-cell;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}
div#list_of_comments ol li a div.img div:HOVER
{
	border: 1px solid #6C518F;	
}
div#list_of_comments ol li a div.img div img
{
	max-width: 40px;
	max-height: 40px;
}

div#share_dashboard_post_popup div#share_box {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0;
    height: auto;
    padding: 0;
    width: 491px !important;
	
}

#share_box > div#lower_container {
    display: inline-block;
    height: 78px;
    width: 381px;
}
#share_box > div#upper_container {
    display: inline-block;
    height: 115px;
    width: 99%;
}
#share_box #upper_container > div#photo_thumbnail {
	border: 1px solid #6C518F;
	display: inline-block;
	float: left;
	margin-top: 10px;
	display: table ;
	height: 50px;    
	width: 50px; 
}
#share_box #upper_container > div#photo_thumbnail div {

    display: table-cell;   
  	vertical-align: middle;  
 	text-align: center;  
}
#share_box #upper_container > div#photo_thumbnail div img{
	max-width: 110px;
	max-height: 110px;
}

#share_box #upper_container > div#privacy {
   /* display: inline-block;
    float: right;
    height: 110px;
    width: 215px;
    */
	float: left;
/*     height: 110px; */
    padding-left:15px;
 	margin-top: 7px;
/*     width: 80%; */


}
#share_box #lower_container > div#photo_text {
    display: inline-block;
    float: left;
    height: 75px;
    width: 375px;
}
#share_box #lower_container > div#initial_text_of_photo {
   border: 1px solid #EAEAEA;
    display: inline-block;
    float: right;
    margin-top: 10px;
    height: 100px;
    overflow-x: auto;
    padding: 5px;
    width: 290px;
	 
}
#share_box #lower_container > div#photo_text textarea{
	border: 1px solid #E6E5E6;
    height: 64px;
    padding: 3px;
    width: 372px;
	margin-top: 11px;
}
div#upper_container div#privacy a#share 
{
    margin-right: 33px;
}


.btn-ok-popup {
    background: url("../../images/btn-purple.png") repeat-x scroll 0 0 transparent !important;
    border: medium none !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: bold;
    height: 25px !important;
    margin: 0 !important;
    padding: 2px 5px 5px !important;
    width: auto !important;
}
div.edit_comment
{
	 background: url("../../images/icon-pencil4.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    height: 12px;
    position: absolute !important;
    right: 5px;
    text-align: right;
    width: 12px;
}
div.hide_comment
{
	display: none;
	cursor:pointer;
}
div.edit-popup-outer
{
	display: none;
}


.comments-date {
    color: #939393;
    float: left;
    font-size: 11px;
    padding-left: 0;
    text-align: left;
    width: 100%;
	
}

.text p {
	float:left;
	width:100%;
}

div.hidden_comment {
    cursor: pointer;
    height: 25px;
    text-align: center;
}

div#list_of_comments ol li label:nth-child(3)
{
    padding-left:30px;
    
}
div.commentbox-content div.commentbox-left div img{
	margin:0px;
}
/*Who viewed popup CSS*/
.forgot-password-content span.import_cb, .forgot-password-content_1 span.import_cb {
    height: 15px;
    margin: 0 4px;
    width: 22px;
}
.forgot-password-outer{
    margin: 0 auto;
    padding: 10% 0 0;
    width: 534px;
}
.forgot-password-hdr{
    background: none repeat scroll 0 0 #141C23;
    float: left;
    margin: 0;
    padding: 10px 20px;
    width: inherit;
}

.forgot-password-hdr .left{
	width:auto;
	margin:0;
	padding:0;
	float:left;
}
.forgot-password-hdr .right{
	width:auto;
	margin:8px 0 0 0;
	padding:0;
	float:right;
}
.forgot-password-content{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0;
    min-height: 100px;
    padding: 25px 20px;
    width: inherit;
}
div#list_of_who_liked.forgot-password-content_1{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid white;
    float: left;
    margin: 0;
    max-height: 400px;
    min-height: 200px;
    overflow-y: auto;
    width: 385px;
}
div#list_of_comments.forgot-password-content_1{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid white;
    float: left;
    margin: 0;
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
	overflow-x:hidden;
    width: 385px;
}
.forgot-password-content_1 ol{
	margin: 0;
    padding-left: 25px;
}
.forgot-password-content_1 ol li a{
    color: #696969;
    margin: 0;
    padding: 0 0 0 5px;
    text-decoration: none;
}
.forgot-password-content_1 ol li a:hover{
    color: #6C518F;
	text-decoration: underline;
}
.forgot-password-content label{
	margin:0;
	color:grey;
	width:105px;
	float:left;
	line-height:35px;
}
.forgot-password-content span{
	color:grey;
	margin: 0 4px;
	color:#000000;
	font-size:12px;
}
.forgot-password-content span input[type="text"], .forgot-password-content_1 span input[type="text"]{
	margin:0;
	background:#8d70b3;
	width:282px;
	padding:0 5px;
	border:0px;
	color:#fff;
	height:35px;
	line-height:35px;
}
.forgot-password-content span input[type="button"], .forgot-password-content_1 span input[type="button"]{
    background: none repeat scroll 0 0 #6B508E;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: oswaldlight;
    font-size: 16px;
    height: 32px;
    padding: 0 5px;
    width: 94px;
}
div.forgot-password-outer_1
{
    width: 394px;
}
#who_liked_listing_popup {
    display: none;
}
div.forgot-password-hdr_1 .close_popup,
div.forgot-password-hdr_1 .close_popup_2,
div.forgot-password-hdr_1 .close_popup_3
{
    float: right;
    margin: 7px;
	cursor: pointer;
}

/* END Who viewed popup CSS*/
#win-xp1 ul.newList {
    width: 179px;
}
#who_liked_listing_popup {
    display: none;
}
div#list_of_who_liked.forgot-password-content_1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #FFFFFF;
    float: left;
    margin: 0;
    max-height: 400px;
    min-height: 200px;
    overflow-y: auto;
    width: 385px;
}

div.forgot-password-outer_1 {
    width: 394px;
}
/* div.forgot-password-hdr_1 .close_popup, div.forgot-password-hdr_1 .close_popup_2, div.forgot-password-hdr_1 .close_popup_3 {
    cursor: pointer;
    float: right;
    margin: 7px -13px 7px 0;
} */
div.forgot-password-hdr_1 h2 {
    float: left;
    width: 218px;
}
.forgot-password-content_1 ol {
    margin: 0;
    padding-left: 0;
}

.forgot-password-content_1 ol li a {
    color: #696969;
    margin: 0;
    padding: 0 0 0 5px;
    text-decoration: none;
}
a {
    outline: medium none;
	text-decoration:none;
}
/* For dashbord url post*/
.link-outer{
/* 	border: 1px solid #D7D7D7; */
/*     float: left; */
/*     margin-top: 10px; */
/*     padding: 0; */
/*     width: 95%; */

    border: 1px solid #D7D7D7;
    float: left;
    margin-top: 10px;
    padding: 0;
    width: 100%;

}
.link-img{
	/*border-right: 1px solid #D7D7D7;*/
    float: left;
    padding: 0;
    max-width:30%;
}
.link-img img {
    height: 100px;
    width: 100px;
}

.share-link-outer{
    float: left;
    margin-top: 0px;
    padding: 0;
    width: 100%;
}
div.share-link-detail div.link-outer {
    border: 1px solid #D7D7D7;
    float: left;
    margin-top: 10px;
    padding: 0;
    /*width: 320px;*/
}

div.share-link-detail div.link-detail {
    color: #696969;
    float: left;
    padding: 10px;
    /*width:200px;*/
}
.share-link-img{
    float: left;
    padding: 0;
    width: auto;
}

.share-link-detail{
	 color: #696969;
    float: left;
    padding: 0px 10px;
    width: 89%;
}

div.show_more span#show_more
{
	display:block;
	margin-top: 9px;
}

div#minimize-menu-banner
{
	display:none;
	width:100%; 
	height:100px; 
	background:#000
}

/***** Dashboard Changes *****/
.share-something-left{
	width:10%  !important;
	margin:0;
	padding:0;
	float:left;
}
.share-something-right{
	width:88%  !important;
	margin:0 0 0 10px;
	padding:0;
	float:left;
}

.bg-textarea {
    border: medium none;
    float: left;
    margin: 0;
    resize: none;
    width: 98% !important;
}
.share-something-right-bot{
	float:right !important;
}
.link-detail p {
    word-wrap: break-word;
}
.like_count{
	margin-left:3px;
}
/* .youmay-know-text1  */
/* { */
/* 	 margin: -62px 22px 0 57px; */
/* } */
.you-may-know-img-inner
{
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.you-may-know-img-outer
{
    border: 1px solid #C0C0C0;
    display: inline-block;
    float: left;
    height: 50px;
    margin: 4px 0 0;
    padding: 0;
    width: 50px;
	position:relative;
}
.icon-like:HOVER{
	background: url(../../images/icon-support2-hover.png) no-repeat ;

}
.icon-like{
	background: url(../../images/icon-support2.png) no-repeat ;
	width:29px;
	height:29px;
	float:right !important;
}

.youmay-know-text1{
	width: 142px !important;
    word-wrap: break-word;
}
.youmay-know-heading{
	padding: 0 0 0 2% !important;
    width: 98% !important;
}
.loader_support{
	float:right !important;
}






/***** Aug14 Css *****/

.dash-sharelink-content {
    float: left;
    margin: 0 0 0 0;
    padding: 1% 2%;
    position: relative;
    width: 96%;
	background:#fff;
}

.dashboard-sharelink-column{
	width:100%;
	margin:0;
	padding:5px 0 0px 0;
	float: left;
	background:#fff;
}
.dashboard-sharelink-icon {
    float: left;
    margin: 2px 10px 0 0;
    padding: 0;
    width: 42px;
	position:relative !important;
	border:1px solid #d3d3d3;
}
.dashboard-sharelink-icon img{
 	width:100%;
}

.dashboard-sharelink-detail{
	 float: left;
    margin: 0;
    padding: 0;
    width: 82%;
}
.dashboard-sharelink-detail h4 {
    float: left;
    font-size: 12px;
   /* font-weight: bold;
     color: #6C518F;*/
    margin: 2px 0 0;
    padding: 0;
    text-transform: inherit;
    width: 100%;
	font-family: arial!important;
}

.dashboard-sharelink-detail h4 a {
    color: #6C518F;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 0 0;
    padding: 0;
    text-transform: inherit;
    width: 100%;
	font-family: arial!important;
}

.dashboard-sharelink-detail p {
    color: #737E8A;
    float: right;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dashboard-sharelink-detail p img{
	margin:0 0 0 6px;
	vertical-align:middle;
}

.dashboard-sharelink-content-text{
	width:96%;
	padding:0 2%;
	margin:0;
	float:left;
	background:#fff;
}	
.dashboard-sharelink-content-text p{
	padding:10px 0 0 0;
	float:left;
}
.dashboard-sharelink-img {
    float: left;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
}








.dashboard-sharelink-data{
	width:96%;
	padding:10px 2% 10px 2%;
	margin:0;
	float:left;
	background:#fff;
}	
.dash-sharelink-data p{
	padding:10px 0 0 0;
	float:left;
}
.dash-sharelink-img {
    float: left;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
}
.add_comment{
	font-size:14px;
}
.comment-write-outer{
	width:96%;
	padding:0 2%;
	margin:10px 0 0 0;
	float:left;
	background:#f6f7f8;
}
.comment-write-left{
	width:32px;
	padding:0;
	margin:0;
	float:left;
	border:1px solid #d3d3d3;
}
.comment-write-left img{
	width:100%;
}
.comment-write-right{
	width:90%;
	padding:0 0 0 8px;
	float:left;
}
.comment-textarea{
	  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D3D6DB;
    color: #48545E;
    float: left;
    height: 14px;
    margin: 0;
    padding: 8px 3px;
    resize: none;
    width: 99%;
	
}
.comment-text1 span{
	width:auto;
	font-weight:bold;
	color:#6c518f;
	float:left;
	margin:0 3px 0 0;
}
.comment-text1{
	color: #4E5665;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: -3px 0 0 2px;
    width: 99.5%;
}
.enter-post{
	color: #4E5665;
    float: left;
    font-size: 11px;
    padding: 0px 0;
    width: 100%;
	height:9px;
	display:none; 
}
.link-detail {
    color: #696969;
    float: left;
    height: 78px;
    overflow-y: auto;
    padding: 10px;
    width: 73%;
	overflow:hidden !important;
}

.link-detail.url_preview_in_popup {
    margin-left: 14px!important;
    width: 68%!important;
}

.link-detail h4{
	font-size:16px;
}
.link-detail p{
	font-size:12px;
}

.shared-link{
	width:100%;
	float:left;
	margin:0 0 10px 0;
	padding:0;
}
.shared-link span{
	font-weight:bold;

}
.shared-link-outernew{
	width:100%;
	float:left;
	margin:15px 0 0 0;
	padding:1%;
	border:1px solid #ddd;
	width:98%;
}
.text-black{
	color:#000 !important;
}
.fnt-bold{
	font-weight:bold;
}
.comments-outer .img img {
    width: 100%;
}
.edit-popup-outer {
    bottom: -82px !important;
}

.user_name {
    color: #000000;
    font-weight: bold;
}
.comment-textarea {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #d3d6db;
    color: #48545e;
    float: left;
    font-size: 12px;
    height: 18px;
    margin: 0;
    padding: 9px 3px 5px;
    resize: none;
    width: 99%;
}
.dashboard-sharelink-icon .quickview-outer{
	left:3px !important;
	top: 52px !important;
}
.dashboard-sharelink-icon .quickview{
	float:left !important;
	margin: 12px 0 0 -222px !important;
	position : relative !important;
}
.dashboard-sharelink-icon .download{
top:0px !important;
}
.dashboard-sharelink-icon .popupArrow{
	position:absolute !important;
	top: -10px !important;
}



.comments-outer .quickview-outer{
	left: -2px !important;
	top: 42px !important;
}
.comments-outer .quickview{
	float:left !important;
	margin: 12px 0 0 -222px !important;
	position : relative !important;
}
.comments-outer .download{
top:0px !important;
}
.comments-outer .popupArrow{
	position:absolute !important;
	top: -10px !important;
}

.you-may-know-img-outer .popupArrow{
	padding-left:264px;
}
.you-may-know-img-outer .quickview-outer{
	top:auto;
	left:auto;
	right:-239px;	
}

.youmay-know-col1-img .popupArrow{
	text-align:center !important;
}
.youmay-know-col1-img .quickview-outer{
	top:auto !important;
	left:auto !important;
	right:-244px !important;	
}

div.share-link-img .quickview-outer{
	left: 5px !important;
	top: 164px !important;
}
div.share-link-img .quickview{
	float:left !important;
	margin: 0 !important;
	position : relative !important;
}

.share-link-img .download{
top:0px !important;
}
div.share-link-img .popupArrow{
	position:absolute !important;
	top: -22px !important;
}
div.link-detail a.url_title {
    font-size: 16px;
	cursor:pointer;
}
div.ui-dialog
{
	z-index: 9999;
}

/********** You May Know 23sep **********/
.div300{
                width:300px;
                float:left;
}
.you-may-know-outer{
                width:100%;
                float:left;
				margin:0 0 0 2px;
}
.you-may-know-hdr{
                background:#fff;
                width:97%;
                font-size:18px;
                font-weight:bold;
                color:#6c498f;
                text-transform:uppercase;
                padding:0% 3%;
 				height: 45px;
   				line-height: 45px;
				font-family: arialnarrowregular;
				border-bottom:2px solid #ddd;
}
.you-may-know-column{
                width:94%;
                float:left;
                background:#fff;
				padding: 2% 3% 1%;
               /* padding:3%;
                margin-bottom:2px;*/
                
}
.you-may-know-img{
                width:22%;
                float:left;
				position:relative;
}

.you-may-know-data {
    float: left;
    margin: 0 0 0 6%;
    padding: 0 0 23px;
    position: relative;
    top: 0;
    width: 67%;
}
.you-may-know-data h4{
                color:#6c518f;
                font-size:16px;
}
.you-may-know-data h5{
                color:#7d7f86;
                font-size:14px;
                margin:2px 0;
}
.you-may-know-data p{
                color:#b9b4c6;
                font-size:12px;
}
.you-may-know-icons{
                width:auto;
                float:left;
}
.you-may-know-more{
                width:100%;
                text-align:right;
              /*  margin:5px 0 0 0;*/
                float:left;
}
.you-may-know-more a{
                color:#a0a0a0;
                text-decoration:none;
}
.you-may-know-more a:hover{
                text-decoration:underline;
}

div.you-may-know-column
{
	position: relative;
}
div.you-may-know-add{
    bottom: 2px;
    position: absolute;
    right: 2px;
}
.youmay-know-cross{
	cursor:pointer;
}
.invite-mails-outer.posts{
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 2px solid #DDDDDD;
    float: left;
    padding-bottom: 9px;
    padding-top: 10px;
    width: 76%;

}
.invite-mails-hdr{
     color: #000;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    width: 100%;
	margin:20px 0;
}
.invite-mails-data{
               width:100%;
                text-align:center;
                padding:5px 0 30px 0;
}
.invite-mails-data a{
                 text-decoration:none;
                padding:5px;
                display:inline-block;
                color:#6c518f;
                width:48px;
				margin-left: 6px;
			    margin-right: 6px;
}
.invite-mails-data a span{
                width:100%;
                text-align:center;
                display:block;
                margin-top:3px;
}

.you-may-input {
	  padding: 0 4%;
    text-align: center;
    width: 90%;
}
.you-may-input input[type="text"] {
	border: 1px solid #ddd;
    float: left;
    margin: 0;
    padding: 3px;
    width: 99%;
}
.you-may-input input[type="button"] {
	background: none repeat scroll 0 0 #fff;
    border: 0 none;
    color: #6c518f;
    margin: 10px auto;
    padding:2px 5px 1px 5px;
    width: auto;
	cursor:pointer;
}
.unhideComment {
	font-size:11px !important;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
}
/********** You May Know 23sep **********/


.option-pop2 {
	left: -90px;
}

.option-pop a, .option-pop2 a {
    border-bottom: 1px solid #E4E4E4;
    color: #000000;
    float: left;
    font-size: 11px;
    line-height: 15px;
    padding: 5px;
    text-decoration: none;
    width: 100%;
}
.option-pop a:last-child, .option-pop2 a:last-child{
	border:none;
}

.option-pop a:hover, .option-pop2 a:hover {
    background: none repeat scroll 0 0 #6C518F;
    color: #FFFFFF;
 text-decoration: none;
}
.privacy_icon{
	width:15px;	
}
.option-pop a div.public{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_public_grey.png);
	background-repeat:no-repeat ;
	background-size:100%;
	width:15px;
	float:left;
}
.option-pop a div.public.selected{
	background-image: url(../../images/privacy_public_purple.png);
}

.option-pop a.full-screen-view.selected, .option-pop2 a.full-screen-view.selected
{
	font-weight: bold;
	color: #6C518F;
}

.option-pop a.full-screen-view.selected:HOVER, .option-pop2 a.full-screen-view.selected:HOVER
{
	font-weight: bold;
	color: #FFFFFF;
}

.option-pop a:hover div.public{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_public_white.png);
	background-repeat:no-repeat ;
	background-size:100%;

}

.option-pop a div.links{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_links_grey.png);
	background-repeat:no-repeat ;
	background-size:100%;
	width:15px;
	float:left;

}
.option-pop a div.links.selected{
	background-image: url(../../images/privacy_links_purple.png);	
}

.option-pop a:hover div.links{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_links_white.png);
	background-repeat:no-repeat ;
	background-size:100%;

}
.option-pop a div.links2{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_links_of_links_grey.png);
	background-repeat:no-repeat ;
	background-size:100%;
	width:15px;
	float:left;
}
.option-pop a div.links2.selected{
	background-image: url(../../images/privacy_links_of_links_purple.png);
	font-weight: bold;
	color: #6C518F;
}
.option-pop a:hover div.links2{
	margin:0 5px 0 0;
	background-image: url(../../images/privacy_links_of_links_white.png);
	background-repeat:no-repeat ;
	background-size:100%;

}
img.privacy_settings_arrow
{
	cursor: pointer;
}
.comments-popup-outer{
	margin:0 0 0 10px !important
}
.img32{
	width:32px !important;
}
#forgot-password h2{
	font-size: 17px !important;
	margin-top:0px !important;
}
.comment-outer-popup-border{
	border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px !important;
}
div.news-update-content p.simple_text
{
	margin-top:10px; float:left;
}

div.wallpost_editor
{   
	border: 1px solid #D3D6DB;
    clear: both;
    display: none;
    float: left;
    width: 100%;
	margin:15px 0 0 0;
}
div.wallpost_editor textarea
{
	width: 98% !important;
	margin:0px !important;
	background:#fff;
}
.wall-editor-btn{
	width:100%;
	float:left;
	border-top:1px solid #eee;
	text-align:right;
	padding:5px 0;
}
.wall-editor-btn a{
	cursor:pointer;
}
.btn-purple {
    padding: 0 15px !important;
}
.share-hdr2 {
    background: none repeat scroll 0 0 #F4F4F4;
    border-top: 1px solid #DDDDDD;
    float: left;
    padding: 4%;
    width: 92%;
}

.share-hdr2 h4 {
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-transform: inherit;
    width: 100%;
}
.share-greybox {
    background: none repeat scroll 0 0 #F4F4F4;
    float: left;
    margin: 10px 0 20px 27px;
    padding: 2%;
    width: 89%;
}

.form-share-pop {
    float: left;
    padding: 20px;
    width: 93%;
}
div.token-input-dropdown-facebook{
	z-index:2147483647 !important;
	width:320px !important;
}
ul.token-input-list-facebook{
	width:402px !important;
}
.you-may-know-img .quickview-outer{
	left: -248px !important;
	top: auto !important;
}
.you-may-know-img .popupArrow{
	text-align:center !important;
}
.userProfileImage{
	border:solid 1px #FFFFFF !important;
}
.individual-msg-div{
	display:none;
}
.comments-outer .img{
	width:32px !important;
	border: 1px solid #CCC;
}
p.shared_link_from_wall_to_wall a
{
	color:#6C518F !important;
}
div.dashboard-sharelink-data p a
{
	color:#6C518F !important;
}
div.share-link-detail p a
{
	color:#6C518F !important;
}
p.editable p.simple_text
{
	color:#6C518F !important;
}
div.extracted_content p
{
	word-wrap: break-word;
}

ul.token-input-list-facebook li input {
    width: 100% !important;
}
p.editable a
{
	color:#6C518F;
}
div.share-link-img div.share-link-img2
{
	width:32px; 
	height:32px;
	border:solid 1px #CCCCCC;
}
div.link-detail p.text-dark-purple
{
	text-decoration:none;
	font-size: 16px
}

div.link-detail p.text-dark-purple:hover
{
	text-decoration:none;
}

div.ok-comment-box-bot
{
	margin-top:10px;
}

div.comment_text label.show_full_comment {
    color: #6c518f;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

span.wallpost_text_full
{
	display:none;
}
span.wallpost_text_cropped label {
    color: #4d356f;
    cursor: pointer;
    display: block;
    width: 58px;
}

div.you-may-know-column{
	margin-bottom: 2px;
}

span.open_who_like_dashboard
{
	color: #6C518F;
    float: right;
	/*margin-top : 3px;*/
	margin-top : 0px;
	margin-bottom: 1px;
}

span.get_shared_list_dashboard
{
	color: #6C518F;
    float: right;
	margin-top : 0;
	margin-right : 8px;
}

div.news-update-content div.wish-icon{
	position:absolute;
	right:5px;
	top : 5px;
}

div.posts_holder.left {
    float: left;
    margin: 0;
    padding: 0;
    width: 74.7%;
}
div.posts_holder.right {
    float: right;
    margin: 0;
    padding: 0;
    width: 224px;
}

/********** OK SHARE COMMENT **********/

.news-update-likes a {
    margin: 0 0 0 0 !important;
}
div.news-update-img div.photo_aligner {
    float: left;
    text-align: center;

}
div.photo_holder{
    width: 50px;
    height: 50px;
	display: inline-block;
}
div.photo_holder div.photo_aligner{
    width: 50px;
    height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: 1px solid silver;
}
div.photo_holder div.photo_aligner:HOVER{	
	border: 1px solid #6C518F;
}


div.loading_updates div {
    display: table-cell;
    height: inherit;
    text-align: center;
    width: inherit;
}

div.loading_updates {
    background-color: white;
    display: inline-block;
    height:11px;
    width: 99.7%;
	padding: 50px 0;
}
	
div.loading_updates div {
    /*display: table-cell;
    height: inherit;*/
    text-align: center;
	vertical-align : middle;
    width: 100%;
	float:left;
	
}
div.show_more {
    background-color: #FFFFFF;
    border: 1px solid #6C518F;
    cursor: pointer;
    display: inline-block;
    height: 36px;
	line-height:36px;
    width: 100%;
}

div.show_more div {
    color: #6C518F;
    /*display: table-cell;*/
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
div.no_more {
	background-color: #E5E5E5;
    border: 1px solid silver;
    display: inline-block;
    height: 36px;
	line-height:36px;
    width: 100%;
}

div.no_more div {
    color: grey;
    /*display: table-cell;*/
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
div.loading_more_updates {
    background-color: #ffffff;
    border: 1px solid #6C518F;
    display: inline-block;
    width: 100%;
	padding:10px 0;
}

div.loading_more_updates div {
   
    height: inherit;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

div.loading_updates div lable,
div.loading_more_updates div lable
{ 
	margin-left:5px; 
	color: #b4b4b4;
}
div.loading_updates div img,
div.loading_more_updates div img
{
	vertical-align: sub;
}


/* css added 24th dec */
.news-update-img {
    float: left;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
}

.news-update-content-icon {
    float: left;
    margin: 2px 10px 0 0;
    padding: 0;
    width: 42px;
	position : relative;
	border: 1px solid #CCCCCC;
}
.news-update-content-icon img{
 	width:100%;
}
.news-update-date {
    float: left;
    margin: 0;
    padding: 0;
    width: 80%;
}
.news-update-arrow {
	float:right;
	width:auto;
}
.news-update-date h4 {
    float: left;
    margin: 2px 0 0 0;
    padding: 0;
    width: 100%;
	text-transform:inherit;
	font-size:14px;
}
.news-update-date h4 a{color:#6c518f; font-weight:bold;}
.news-update-date p{
	width:100%;
	margin:0;
	padding:0;
	float:right;
	color:#737e8a;
	font-size:12px;
}
.news-update-content {
    float: left;
    /*margin: 0 0 12px; */
    margin: 0px !important ; 
    /*padding: 1% 0% 0% 0%;*/
	padding: 0% 0% 0% 0%;
    position: relative;
    width: 100%;
}
.news-update-content-text p{
    float: none !important;
    padding: 10px 0 0;
    width: 100%;
    word-wrap: break-word;
}


/**** 5 Jan 15 ******/

.invitation-request {
    background-image: url("../../images/invitation-request-icon.png");
    height: 38px;
    width: 38px;
    float:left;
	background-repeat: no-repeat;
}


.invitation-request:hover{
    background-image: url("../../images/invitation-request-icon-hover.png");
    height: 38px;
    width: 38px;
	background-repeat: no-repeat;
}

.accept-request {
    background-image: url("../../images/accept-request-icon.png");
    height: 38px;
    width: 38px;
    float:left;
	background-repeat: no-repeat;
}

.accept-request:hover {
    background-image: url("../../images/accept-request-icon-hover.png");
    height: 38px;
    width: 38px;
	background-repeat: no-repeat;
}

.decline-request {
    background-image: url("../../images/decline-request-icon.png");
    height: 38px;
    width: 38px;
    float:left;
	background-repeat: no-repeat;
}

.decline-request:hover {
    background-image: url("../../images/decline-request-icon-hover.png");
    height: 38px;
    width: 38px;
	background-repeat: no-repeat;
}

.cancel-request {
    background-image: url("../../images/cancel-request-icon.png");
    height: 38px;
    width: 38px;
    float:left;
	background-repeat: no-repeat;
}

.cancel-request:hover {
    background-image: url("../../images/cancel-request-icon-hover.png");
    height: 38px;
    width: 38px;
	background-repeat: no-repeat;
}

.compose-mail{
    background-image: url("../../images/mail-icon2.png");
    height: 37px;
    width: 37px;
    float:left;
	background-repeat: no-repeat;
                
}

.compose-mail:hover{
    background-image: url("../../images/mail-icon3.png");
    height: 37px;
    width: 37px;
	background-repeat: no-repeat;
                
}


/* ---------------------- */

div.forgot-password-outer_1.share_photo_feed_popup {
    width: 500px;
}

.forgot-password-hdr_1.share_photo_feed_popup {
    background: none repeat scroll 0 0 #F5F6F7;
    float: left;
    margin: 0;
    padding:0 12px;
    width: 94.9%;
}

.option-pop a.full-screen-view.selected, .option-pop2 a.full-screen-view.selected {
    /* color: #6C518F !important; */
    font-weight: bold;
}
.option-pop a div.links.selected {
    background-image: url("../../images/privacy_links_purple.png");
}
.option-pop a div.public.selected {
    background-image: url("../../images/privacy_public_purple.png");
}

.option-pop a div.links2.selected {
    background-image: url("../../images/privacy_links_of_links_purple.png");
    color: #6C518F;
    font-weight: bold;
}

.you-may-know-data a {
	color:#6C518F;
}
.option-pop3 {
    bottom: auto !important;
    left: -24px !important;
    top: 17px !important;
}
div.original_user_data div.quickview-outer
{
	left : -6px !important;
	top : 36px !important;
}
div#share_dashboard_post_popup form.form-share-pop {
    width: 91%;
}

.dp-img.shared_link_from_wall_to_wall > img{width : 100%}