.mail-grey-hdr-col1-new {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 0 0 0 -1px;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
p.no_feedbacks {
    color: #a0a0a0;
    font-family: opensansregular;
    font-size: 13px;
    left: 222px;
    position: relative;
    text-align: center;
    width: 200px;
}
.col3 {
 	background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 0;
    padding: 10px 4%;
    width: 92% !important;
}

.text-grey3 {
    color: #A0A0A0 !important;
}
/* .chkbx-img */
/* { */
/* 	 padding: 0 0 0 12px !important; */
/* } */
ul.token-input-list-facebook {

    width: 367px !important;
   
}
div.token-input-dropdown-facebook {

	 width: 367px !important ; 
}
.prof-img
{
 	border: 1px solid #808080;
    display: table-cell;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.mail-grey-hdr-col1 .chkbx-img {
    width: auto !important;
}

.mail-all-hdr .fr .col1 img {
    margin: 0 0 0 0px !important;
}
.mail-grey-hdr-col1 .mid {
	float:left;
}

div.mid p.ref_position {
    padding-bottom: 12px !important;
}
div.mid h4 {
    text-transform: capitalize !important;
}
p.full_note
{
	cursor:default;
	word-wrap:break-word;
	display:inline;
}
p.p_all_note_text
{
	word-wrap:break-word;
}
p.clickable_note
{
	cursor:default;
	word-wrap:break-word;
	display:inline;
}
div.full_text
{
	display:none;
	cursor:default;
	
}
span.show_less , span.show_more
{
	cursor: pointer;
	font-weight : bold;
}
.btn-long-bot {
    clear: both;
    float: right;
    margin: 0 5px 0 0;
    width: auto;
}
.quotes-outer
{
	float: left;
    margin: 0px;
    padding: 0;
    width: 100%;
}
.quotes-lt
{
	float: left;
    margin: 0 0 0;
    padding: 0;
    width: 30px;
}
.quotes-mid
{
	float: left;
  
    margin: 10px 0 0;
    max-width: 94%;
    padding: 0 0 10px;
}
.quotes-rt
{
	width:7%;
	margin:0;
	padding:0;
	float:left;
	height:100%;
}
div.no_messages {
    background-color: #ffffff;
    float: left;
    font-size: 29px;
    padding: 150px 0;
    text-align: center;
    width: 100%;
	min-height:437px;
}
div.no_messages {
    font-size: 29px;
    text-align: center;
}
.no_messages-data {
    color: #808080;
    font-size: 17px;
    margin: 10px 0 0;
}
