.mail-grey-hdr-col1 .chkbx-img 
{
    padding: 0 0 0 12px;
}
.mail-all-hdr .fr .col1 img {
    float: right !important;
}
/** causing problem in notification popup*/
/* .right */ 
/* { */
/* 	width: 158px !important */
	
/* } */
.mail-grey-hdr-col1-new {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 0 0 0 -1px;
    padding: 10px 0;
    position: relative;
    width: 100%;
 	min-height: 737px;
}
p.no_references {
    color: #a0a0a0;
    font-family: opensansregular;
    font-size: 13px;
    left: 222px;
    position: relative;
    text-align: center;
    width: 200px;
}
.col3 {
 	width:92% !important;
	margin:0 0 1px 0;
	padding:0 4% 10px 4%;
	float:left;
	background:#fff;
}

.col3 .fl{ margin-top:10px;}
.col3 .fr{ margin-top:10px;}

.text-grey3 {
    color: #A0A0A0 !important;
}
.chkbx-img
{
	 padding: 0 0 0 12px !important;
}
.prof-img
{
 	border: 1px solid #808080;
/*     display: table-cell; */
    height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.feedback-received-col1-left 
{
	width: auto !important;
}
.feedback-received-col1 
{
	min-height:100px !important;
}

div.bot-left p.ref_as {
    padding-bottom: 12px !important;
}
.mail-all-hdr .fr .col1 img {
    margin: 0 !important;
}
p.full_text
{
	cursor:default;
	word-wrap:break-word;
	display:inline;
}
p.clickable_text
{
	cursor:default;
	word-wrap:break-word;
	display:inline;
}
p.p_all_text
{
	word-wrap:break-word;
}
div.full_text
{
	display:none;
	cursor:default;
}
span.show_less , span.show_more
{
	cursor: pointer;
	font-weight : bold;
}
.mail-grey-hdr-col1 .chkbx-img {
    padding: 0 0 0 12px;
} 
.btn-purple {
    font-size: 12px;
    padding: 0 9px 2px;
}
/*Accept & display, hide, display and delete text*/
.accept_display
{
	cursor: pointer;
}
.accept_display:hover
{
	text-decoration:none !important;
}
.display_ref
{
	cursor: pointer;
}
.display_ref:hover
{
	text-decoration:none !important;
}
.hide_ref
{
	cursor: pointer;
}
.hide_ref:hover
{
	text-decoration:none !important;
}
.delete_ref
{
	cursor:pointer;
}
.delete_ref:hover
{
	text-decoration:none !important;
}

.quotes-outer {
    float: left;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}
.quotes-lt
{
	width:30px;
	float:left;
	margin:5px 0 0 0;
	padding:0;
}
.quotes-mid
{
	max-width:94%;
	margin:10px 0 0 0;
	padding:0 0 10px 0;
	float:left;
	line-height: 25px;
}
.quotes-rt
{
	width:7%;
	margin:0;
	padding:0;
	float:left;
	height:100%;
}

.ref_postion
{
	font-size: 13px;
	color:#a0a0a0;
	text-align:right;
	width:100%;
	float:left;
	padding:0 0 20px 0;
}
div.mid h4 {
    text-transform: capitalize !important;
}
div.no_messages {
    background-color: #ffffff;
    float: left;
    font-size: 29px;
    padding: 150px 0;
    text-align: center;
    width: 100%;
}
div.no_messages {
    font-size: 29px;
    text-align: center;
}
.no_messages-data {
    color: #808080;
    font-size: 17px;
    margin: 10px 0 0;
}