/* .linkprofile-outer { */
/*     min-height: 571px !important; */
/* } */
.linkprofile-outer.text-grey3 {
   background: none repeat scroll 0 0 #EFF1F0 !important;
    border: 10px solid #FFFFFF !important;
    float: left !important;
    margin: 0 !important;
    min-height: 589px !important;
    padding: 0 0 20px !important;
    width: 96% !important;
}
.linkprofile-outer .col1-text1{
	height:80px !important;
}

.img-align-center{
	display: table-cell;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    border:1px solid white;
}
.img-align-center:hover{
	border:1px solid #6C518F;
}
.linkprofile-outer .col1-img img{
	border:none !important;
	margin:0px !important;
}
.linkprofile-outer .col1-img img:hover{
	border:none !important;
	margin:0px !important;
}
.col3{
width: 92%;
margin: 3px 0 3px 0;
padding: 10px 4%;
float: left;
background: #fff;
}
.no-rec-msg.text-grey3 {
	border: 1px solid #E5E5E5;
    margin: auto;
    padding: 7px;
    text-align: center;
    width: 93%;
}
.linkprofile-outer .col1-img{
	float:none !important;
	display:table-cell !important;
	height:102px !important;
	width:121px !important;
	text-align:center !important;
	vertical-align:middle !important;
}
.linkprofile-outer .col1-img img{
	max-width:100px !important;
	max-height:100px !important;
}
.quickview-outer{
top:112px !important;
left:-9px !important;	
}
.quickview-outer-second{
top:112px !important;
left:-193px !important;	
}
.quickview-outer-third{
top:112px !important;
left:-372px !important;	
}
.quickview-outer-four{
top:115px !important;
left:-408px !important;	
}
.arrow-first{
	margin:0 0 1px 64px !important;
}
.arrow-second{
	margin:0 0 1px 248px !important;
}
.arrow-third{
	margin:0 0 1px 427px !important;
}
.arrow-four{
	margin:0 0 1px 453px !important;
}
.quickview-top-right .right .botlinks .col1{
	width:92% !important;
}
.quickview-top-right .right .toplinks{
	border:none;
}
.tag-popup{
	height:auto !important;
}
.notes-popup-outer{
	margin:14px 0 0 5px !important;
}
.view-anchor{
	background: none repeat scroll 0 0 transparent !important;
    color: #FFFFFF !important;
    padding: 0 !important;
}
.view-anchor2{
	background: none repeat scroll 0 0 transparent !important;
    color: #FFFFFF !important;
    padding: 0 !important;
}

.manage-pop{
	margin:-6px 0 0 5px !important;
}
.msg-popup-outer{
	float: left;
    left: 54px;
    margin: 0 0 0 5px !important;
    padding: 0;
    position: absolute;
    top: 57px;
    z-index: 9999;
}
.msg-popup-top{
	float: left;
    margin: 0;
    padding: 0 0 0 10%;
    width: 90%;
}
.msg-popup-bot{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #4A545E;
    float: left;
    margin: 2px 0 0;
    padding: 3px 10px;
    width: 411px;
}
.tag-popup-outer{
	margin: 0;
    padding: 0;
    position: absolute;
    right: 72px;
    top: -8px;
    width: 150px;
    z-index: 9999;
}
.tag-manage-outer{
	margin: 0;
    padding: 0;
    position: absolute;
    right: 105px;
    top: 80px;
    width: 150px;
    z-index: 9999;
}

.tag-manage-arrow {
    float: left;
    margin: 0 0 0 78px;
    padding: 0;
    width: 70px;
}
.tag-manage {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #3B4A54;
    float: left;
    margin: 1px 0 0;
    padding: 10px;
    width: 170px;
}
.tag-manage img{
	float:none !important;
}
.tag-manage-top{
	text-align:right !important;
}
.tag-manage-btn{
	text-align:right !important;
}
.tag-manage-mid {
    float: left;
    height: auto;
    max-height:93px;
    margin: 10px 0 0;
    overflow-y: scroll;
    padding: 0;
    width: 100%;
}
.tag-manage-col1 {
    float: left;
    margin: 0 0 5px;
    padding: 0;
    width: 100%;
}
.tag-manage-col1 input{
	float:left !important;
}
.col3{
width: 92%;
margin: 3px 0 3px 0;
padding: 10px 4%;
float: left;
background: #fff;
}
.no-rec-msg.text-grey3 {
border: 1px solid #E5E5E5;
padding: 5px;
text-align: center;
}
.linkprofile-container {
    min-height: 667px !important;    
}
.chk-top-align{
	float: left;
    height: 100%;
    width: 15px;
}
.linkprofile-outer .col1-img img{
	border:none !important;
	margin:0px !important;
}
.linkprofile-outer .col1-img img:hover{
	border:none !important;
	margin:0px !important;
}
.notes-popup-bot{
	height:270px !important;
}
.common-div{
	padding-top:5px !important;
}
.notes-popup-outer{
	top: 156px !important;
}
.srchBtn{
	color:#FFFFFF; 
	font-size: 13px; 
	background:  #6C518F; 
	padding: 4px 7px; 
	text-decoration: none; 
	float: left;
}