@font-face {
    font-family: 'ArialNarrowRegular';
    src: url('2677999333.eot');
    src: url('2677999333.eot') format('embedded-opentype'),
         url('2677999333.woff') format('woff'),
         url('2677999333.ttf') format('truetype'),
         url('2677999333.svg#ArialNarrowRegular') format('svg');
}
